.sidebar {
    background-color: #26151B; // Dark background color for the sidebar
    width: 289px;
    margin: 10px;
    border: 3px solid #693B38;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .navBarLogo{
        display: flex;
        flex-direction: column;
    }

    .logo {
        // Styles for the logo at the top
        margin-bottom: 20px;
        font-size: 38px;
        font-weight: 500;
        margin-left: 30px;
        margin-top: 20px;
    }
    .line{
        border-bottom: 3px solid #693B38;
    }

    .navLinks {
        list-style: none;
        padding: 0;
        margin-left: 30px;
        margin-top: 40px;
        font-size: 26px;
        cursor: pointer;

        li {
            margin-bottom: 15px;
        }
        a {
            text-decoration: none;
            color: #F5F0EC;
        }
    }
    .active {
        font-weight: 600;
    }

    .settings {
        // Styles for the settings link at the bottom
        margin-bottom: 30px; // Space above the settings link
    }
}