.appContainer {
    background-color: #2C191F;
    color: #fff; // Assuming you want light text on the dark background
    min-height: 100vh; // Make it at least as tall as the viewport
    width: 100%; // Cover the full width
}